.slider-top .slick-prev {
  left: 0px !important;
  z-index: 1;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  margin-left: -45px;
}
.slider-top .slick-next {
  right: 0px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  margin-right: -45px;
}
.slider-top .slick-next::before,
.slider-top .slick-prev::before {
  font-size: 45px;
  color: #1c1d1f;
}

